[defaults]
roles_path = ./common/roles:./infrastructure/.galaxy:~/.ansible/roles:/etc/ansible/roles
host_key_checking = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/factcache
fact_caching_timeout = 3600
interpreter_python = auto_silent
stdout_callback = default

[ssh_connection]
pipelining = True
