---
title: "{{ domain }} - Homelab"
theme: dark
color: slate
headerStyle: clean
layout:
  Infrastructure:
    style: row
    columns: 4
  Kubernetes:
    style: row
    columns: 2
  Monitoring:
    style: row
    columns: 2
  Automation:
    style: row
    columns: 1
  Dev Tools:
    style: row
    columns: 3
  Files & Documents:
    style: row
    columns: 3
