apiVersion: v1
kind: Secret
metadata:
  name: helm-charts-repo
  namespace: {{ argocd_apps_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: {{ argocd_apps_repo }}
{% if argocd_apps_repo_token | default('') %}
  password: {{ argocd_apps_repo_token }}
  username: git
{% endif %}
