VAULT_ADDR={{ cellarette_bridge_vault_addr }}
CELLARETTE_VAULT_ROLE={{ cellarette_bridge_vault_role }}
CELLARETTE_VAULT_MOUNT={{ cellarette_bridge_vault_mount }}
CELLARETTE_VAULT_AUTH={{ cellarette_bridge_vault_auth }}
CELLARETTE_BRIDGE_ROLE_ID_FILE={{ cellarette_bridge_config_dir }}/role_id
CELLARETTE_BRIDGE_SECRET_ID_FILE={{ cellarette_bridge_secret_id_file }}
CELLARETTE_WORKSPACE={{ cellarette_bridge_workspace }}
CELLARETTE_URL={{ cellarette_bridge_cellarette_url }}
