---
apiVersion: v1
kind: Secret
metadata:
  name: n8n-worker-secrets
  namespace: {{ n8n_worker_namespace }}
type: Opaque
stringData:
  DB_POSTGRESDB_PASSWORD: "{{ _vault_secrets.db_password }}"
  N8N_ENCRYPTION_KEY: "{{ _vault_secrets.encryption_key }}"
  QUEUE_BULL_REDIS_PASSWORD: "{{ _vault_secrets.redis_password }}"
