apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: docker-builders
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/kamilandrzejrybacki-inc/helm.git
    targetRevision: main
    path: charts/docker-builders
  destination:
    server: https://kubernetes.default.svc
    namespace: docker-builders
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
