apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
type: Opaque
stringData:
{% for k8s_key, vault_key in item.data.items() %}
  {{ k8s_key }}: "{{ _loaded_secrets[vault_key] }}"
{% endfor %}
